<div class="bg-secondary">
    <div class="container p-4" *ngIf="photos">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let p of photos">
                <div class="card h-100">
                    <img [src]="p.thumbnailUrl" class="card-img-top" alt="...">
                    <div class="card-body flex-column flex-grow-1 mt-auto">
                        <h5 class="card-title">{{p.title}}</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a class="btn btn-success" [href]="p.url" target="_blank">VEDI FOTO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>